$white: #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #3c3f44;
$gray-900: #212428;
$black: #000;

$grays: (
  "100": $gray-100,
  "200": $gray-200,
  "300": $gray-300,
  "400": $gray-400,
  "500": $gray-500,
  "600": $gray-600,
  "700": $gray-700,
  "800": $gray-800,
  "900": $gray-900,
);

$blue: #00a2ea;
$indigo: #6610f2;
$purple: #6f42c1;
$pink: #d63384;
$red: #bf0025;
$scarlet: #ea002d;
$orange: #fd7e14;
$yellow: #eabd00;
$green: #17d351;
$teal: #20c997;
$cyan: #0dcaf0;

$colors: (
  "blue": $blue,
  "indigo": $indigo,
  "purple": $purple,
  "pink": $pink,
  "red": $red,
  "scarlet": $scarlet,
  "orange": $orange,
  "yellow": $yellow,
  "green": $green,
  "teal": $teal,
  "cyan": $cyan,
  "white": $white,
  "gray": $gray-600,
  "gray-dark": $gray-800,
);

$primary: $red;
$secondary: $gray-900;
$success: $green;
$info: $blue;
$warning: $yellow;
$danger: $scarlet;
$light: $gray-100;
$dark: $gray-900;

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "success": $success,
  "info": $info,
  "warning": $warning,
  "danger": $danger,
  "light": $light,
  "dark": $dark,
);

// $scarlet-100: tint-color($scarlet, 80%);
// $scarlet-200: tint-color($scarlet, 60%);
// $scarlet-300: tint-color($scarlet, 40%);
// $scarlet-400: tint-color($scarlet, 20%);
// $scarlet-500: $scarlet;
// $scarlet-600: shade-color($scarlet, 20%);
// $scarlet-700: shade-color($scarlet, 40%);
// $scarlet-800: shade-color($scarlet, 60%);
// $scarlet-900: shade-color($scarlet, 80%);

// spacer
$spacer: 1rem;
$spacers: (
  0: 0,
  1: $spacer / 8,
  // 2
  2: $spacer / 4,
  // 4
  3: $spacer / 2,
  // 8
);

$grid-breakpoints: (
  xs: 0,
  sm: 37.5rem,
  //600
  md: 60rem,
  //960
  lg: 80rem,
  //1280
  xl: 120rem,
  //1920
);

$border-width: 0.0625rem;
$border-widths: (
  1: 0.0625rem,
  2: 0.125rem,
  3: 0.1875rem,
  //3
  4: 0.25rem,
  //4
  5: 0.3125rem,
);

// scss-docs-start border-radius-variables
$border-radius: 0.25rem;
$border-radius-sm: 0.125rem;
$border-radius-lg: 0.25rem;
$border-radius-pill: 50rem;

// Typography
//
// Font, line-height, and color for body text, headings, and more.
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Work+Sans:wght@700&display=swap");

$open-sans: "Open Sans", sans-serif;
$work-sans: "Work Sans", sans-serif;

$font-family-sans-serif: $open-sans;

$font-size-root: 16px;
$font-size-base: 1rem;
$font-size-sm: $font-size-base * 0.889;
$font-size-lg: $font-size-base * 1.125;

$line-height-base: 1.5;
$line-height-sm: 0.889;
$line-height-lg: 2;

$h1-font-size: $font-size-base * 2.281;
$h2-font-size: $font-size-base * 2.027;
$h3-font-size: $font-size-base * 1.802;
$h4-font-size: $font-size-base * 1.602;
$h5-font-size: $font-size-base * 1.424;
$h6-font-size: $font-size-base * 1.266;

// scss-docs-start headings-variables
$headings-font-family: $work-sans;
$headings-font-weight: 700;
$headings-line-height: 1.2;

// scss-docs-start display-headings
$display-font-sizes: (
  1: 5.202rem,
  2: 4.624rem,
  3: 4.11rem,
  4: 3.653rem,
  5: 3.247rem,
  6: 2.887rem,
);

$display-font-weight: 700;
$display-font-family: $work-sans;

// scss-docs-start type-variables
$lead-font-size: $font-size-base * 1.125;
$lead-font-weight: 400;
$small-font-size: 0.889rem;

$subtitle-lg-font-size: 1.125rem;
$subtitle-sm-font-size: 1rem;
$caption-font-size: 0.79rem;

// Buttons + Forms
//
// Shared variables that are reassigned to `$input-` and `$btn-` specific variables.

// scss-docs-start input-btn-variables

$input-btn-padding-y: map-get($spacers, 3); //8px
$input-btn-padding-x: map-get($spacers, 3) * 2;
$input-btn-font-size: $small-font-size;
$input-btn-line-height: $line-height-sm;
$input-btn-focus-width: map-get($spacers, 1);
$input-btn-focus-color: $blue;
$input-btn-focus-blur: none;

$input-btn-padding-y-sm: map-get($spacers, 3);
$input-btn-padding-x-sm: map-get($spacers, 2);
$input-btn-font-size-sm: $input-btn-font-size;

$input-btn-border-width: $border-width;

$input-btn-focus-width: 0.125rem;
$input-btn-focus-color-opacity: 0.25;
$input-btn-focus-color: rgba(0, 162, 243, 1);
$input-btn-focus-blur: 0;
$input-btn-focus-box-shadow: 0 0 $input-btn-focus-blur $input-btn-focus-width
  $input-btn-focus-color;

$btn-padding-y: $input-btn-padding-y;
$btn-padding-x: $input-btn-padding-x;
$btn-font-size: $small-font-size;
$btn-line-height: $input-btn-line-height;
//Button border radius
$btn-border-radius: $border-radius;
$btn-border-radius-sm: $border-radius;
$btn-border-radius-lg: $border-radius;
$btn-focus-box-shadow: $input-btn-focus-box-shadow;
$btn-active-box-shadow: $input-btn-focus-box-shadow;

//Tabs styles
$nav-tabs-link-active-border-top-color: $primary map-get($border-widths, 2)
  solid;
$nav-tabs-border-radius: 0;
// $nav-tabs-link-active-border-top-color: $primary 5px solid;
$nav-tabs-link-active-color: $black;
$nav-tabs-link-color: $black;
$nav-tabs-link-active-font-weight: 700;

//Nav pills styles
$nav-pills-link-active-background-color: $primary;
$nav-pills-link-color: $black;
$nav-pills-active-link-color: $white;

// Cards

// scss-docs-start card-variables
$card-spacer-y: $spacer;
$card-subtitle-font-size: $font-size-lg;
$card-border-radius: $border-radius;

// scss-docs-start modal-variables
$modal-inner-padding-top: $spacer;
$modal-inner-padding-right: map-get($spacers, 1) * 12;
$modal-header-padding-y: map-get($spacers, 1) * 12;
$modal-header-padding-x: map-get($spacers, 1) * 12;
$modal-header-padding: $modal-header-padding-y $modal-header-padding-x 0
  $modal-header-padding-x;

$modal-footer-padding-y: $spacer;
$modal-footer-padding-x: $spacer;
$modal-footer-padding: $modal-footer-padding-y $modal-footer-padding-x
  map-get($spacers, 1) * 12;

//Accordion styles
$accordion-header-font-size: $font-size-base;
$accordion-button-active-color: $dark;
$accordion-button-active-bg: none;
$accordion-button-focus-border-color: $blue;
$accordion-button-focus-outline: $blue $border-width solid;
$accordion-button-padding-x: $spacer;
$accordion-icon-width: $font-size-base;

$accordion-body-padding-y: $spacer / 2;
$accordion-body-padding-x: $spacer;
$accordion-body-padding-bottom: map-get($spacers, 2) * 6;

//Form Control
$input-border-color: $black;
$input-font-size: $caption-font-size;
$input-padding-y: $spacer / 2;
$input-padding-x: $spacer / 2;
$input-line-height: $input-btn-line-height;

//Forms
$form-text-font-size: $caption-font-size;
$form-text-margin-top: map-get($spacers, 4);
//Form Check
$form-check-input-checked-bg-color: $primary;

//Form select
$form-select-border-color: $input-border-color;
$form-select-font-size: $caption-font-size;
$form-select-line-height: $input-btn-line-height;
$form-select-padding-y: $spacer / 2;
$form-select-padding-x: $spacer / 2;
$form-select-indicator-padding: $spacer * 2;
//Validation
$form-feedback-valid-color: $success;
$form-feedback-invalid-color: $danger;
$form-feedback-icon-invalid: none;
$form-feedback-icon-valid: none;
$form-feedback-font-size: $form-text-font-size;
$form-feedback-margin-top: $form-text-margin-top;

//Table styles

$table-font-size: $font-size-lg;
$table-data-padding: 0;
$table-cell-padding-x: $spacer;
// $table-striped-dark: inset 0 0 0 9999px $blue;
$table-striped-dark-bg: $blue;

//Toast padding
$toast-padding-y: $spacer;
$toast-padding-x: $spacer;
$toast-header-color: $black;
